In [3]:
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

basedir = '/home/mnedal/TEC/omni/'

In [ ]:
# Import excel files of yearly data 
Years = ['2014','2015','2016','2017','2018','2019','2020','2021']

df = []
for year in Years:
    df.append(pd.read_excel(basedir + 'omni_min_' + year + '.xlsx').astype('float64'))

In [7]:
# concatenate all lists together 
names = ['Year','Day','Hour','Minute',
                        'Bavg','Bx','By','Bz',
                        'Vsw','Vx','Vy','Vz',
                        'np','T','P','E','beta','MA','MsonicM','Dst']
dfall = pd.DataFrame(np.concatenate(df), columns=names)
dfall.head()

,Year,Day,Hour,Minute,Bavg,Bx,By,Bz,Vsw,Vx,Vy,Vz,np,T,P,E,beta,MA,MsonicM,Dst
0,2014.0,1.0,0.0,0.0,5.03,-1.07,4.28,-2.39,99999.9,99999.9,99999.9,99999.9,999.99,9999999.0,99.99,999.99,999.99,999.9,99.9,-1.0
1,2014.0,1.0,0.0,1.0,5.03,-1.00,4.31,-2.39,99999.9,99999.9,99999.9,99999.9,999.99,9999999.0,99.99,999.99,999.99,999.9,99.9,-1.0
2,2014.0,1.0,0.0,2.0,5.02,-1.11,4.29,-2.35,99999.9,99999.9,99999.9,99999.9,999.99,9999999.0,99.99,999.99,999.99,999.9,99.9,-1.0
3,2014.0,1.0,0.0,3.0,5.06,-1.15,4.14,-2.66,99999.9,99999.9,99999.9,99999.9,999.99,9999999.0,99.99,999.99,999.99,999.9,99.9,-1.0
4,2014.0,1.0,0.0,4.0,5.10,-0.98,4.27,-2.60,386.2,-385.8,-13.0,-12.3,5.93,109948.0,1.77,0.55,2.26,9.2,5.4,-1.0

In [8]:
# clean gaps with NaNs 
dfall['Dst'] = dfall['Dst'].replace(99.0, np.nan)
dfall = dfall.replace(99.9, np.nan)
dfall = dfall.replace(999.9, np.nan)
dfall = dfall.replace(99.99, np.nan)
dfall = dfall.replace(999.99, np.nan)
dfall = dfall.replace(9999.99, np.nan)
dfall = dfall.replace(99999.9, np.nan)
dfall = dfall.replace(9999999, np.nan)

# dfall = dfall.replace(np.nan, 0)

# define a new column at first position 
dfall.insert(0, 'Datetime', '')

In [ ]:
# dfall = dfall.replace(np.nan, 0)

In [ ]:
# Convert from DOY to datetime 
for i in range(len(dfall)):
    
    year = dfall['Year'][i]
    doy = dfall['Day'][i]
    hh = dfall['Hour'][i]
    MM = dfall['Minute'][i]
    
    new_date = datetime.strptime(str(int(year))+str(' ')+str(int(doy)), '%Y %j')
    new_date.strftime('%Y/%m/%d')
    new_time = timedelta(hours=int(hh), minutes=int(MM))
    dfall['Datetime'][i] = new_date + new_time

<ipython-input-9-638c47c935b5>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfall['Datetime'][i] = new_date + new_time

In [ ]:
dfall.drop({'Year','Day','Hour','Minute'}, inplace=True)

In [ ]:
# export dataset 
dfall.to_csv(basedir + 'omni_2014_2021.csv', index=False)